@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #f0f0ff;
  width:100vw;
  overflow-x:hidden;
  font-family:"Montserrat",sans-serif;
}



@layer base {}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}